.addProduct__paperContainer {
    padding: 10px;
}

.addProduct__form {
    width: 100%;
}

.addProduct__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.addProduct__name {
    max-width: 60%;
}

.addProduct__price {
    max-width: 55%;
}

@media (min-width:576px) {
    .addProduct__price {
        max-width: 650px;
    }
    .addProduct__name {
        max-width: 740px;
    }
}